:host {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .criarform{
    border: 1px solid black;
    background-color: rgba(118, 197, 250, 0.542);
    padding-bottom: 5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }

.btn{
    background-color: #1976d2; /* Green */
    border: none;
    color: white;
    margin-top: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

.energia label{
    font-size: 12px;
}


input:not([type="submit"]) + .input-requirements{
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements{
  max-height: 1000px;
  transition: max-height 1s ease-in;
  
}