<div class="main" id="import" >
    <div class="slide-left">
        <h1 class="titulos"  style="margin-left: 40%;">Importar Ficheiro</h1>
    </div>

    <div class="importform">
    <div class="importSection"  style="margin-left: 40%;">
        <h3 class="titleSection">Importar de um ficheiro .xml </h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="file">Selecione um ficheiro:</label><br>
                    <input #file id="file" type="file"><br>
                </div>
                <div class="col">
                </div>
            </div>

            <button
                (click)="importXML(file)"
                type="submit" id="botaoAdicionar" class="btn btn-primary botaoForm">Adicionar</button>
        </form>
    </div>
</div>
</div>